body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #195f48;
  color: #fff;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #195f48;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:hover {
    background-color: #195f48;
  }

  .menu li {
    margin-right: 0;
    padding: 10px;
  }
}